@model DataAccess.Entities.Apartment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr />

<div class="row mb-2">
    <form asp-action="Create" enctype="multipart/form-data" class="w-100">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <img src="~/uploads/files/apartment/noimage.png" width="200" height="150" id="preview-image" />

            <label for="main-photo" class="control-label"></label>
            <input type="file" name="uploadFile" id="apartment-photo-input" accept="image/*" />
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RentEndDate" class="control-label"></label>
            <input asp-for="RentEndDate" type="date" class="form-control" required />
            <span asp-validation-for="RentEndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" type="number" class="form-control" required />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success w-100" />
        </div>
    </form>

    <a asp-action="Index" class="btn btn-secondary w-100">Back to List</a>
</div>



@section Scripts
    {
    <script>
        const default_img_src = $("#preview-image").attr('src');

        document.getElementById("apartment-photo-input").onchange = function () {

            validate_file_extension
                ({
                    file_input_id: 'apartment-photo-input',
                    allowed_extension: ["jpg" , "jpeg" , "png", "gif"]
                });
            
            preview_image
                ({
                    file_input_id: 'apartment-photo-input',
                    image_preview_id: 'preview-image',
                    default_img_src: default_img_src
                });
        };

    </script>
}