body {
    margin: 3px;
    background-color: antiquewhite;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    max-width: 1500px;
}

.header {
    color: firebrick;
    font-family: sans-serif;
    font-size: 200%;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.footer {
    color: firebrick;
    font-family: sans-serif;
    font-size: 100%;
    text-align: center;
    border-top: 3px solid black;
}
