@model System.Collections.Generic.IEnumerable<Apartment>
<!--HEADING-->
<h2>Heading</h2>

<img src="https://www.w3schools.com/howto/img_snow.jpg" width="250" height="250" />

<!--APARTMENTS-->
<h2>Our services</h2>
@foreach (Apartment apartment in Model)
{

    <div>
        <img src="https://www.w3schools.com/howto/img_snow.jpg" width="150" height="100" />
        <p>@apartment.Description</p>
    </div>
}

<!--REVIEW-->
<h2>Review</h2>
<div>
    <img src="https://www.w3schools.com/howto/img_snow.jpg" width="150" height="100" />
    <p>Lorem ipsum</p>
</div>
<div>
    <img src="https://www.w3schools.com/howto/img_snow.jpg" width="150" height="100" />
    <p>Lorem ipsum</p>
</div>
<div>
    <img src="https://www.w3schools.com/howto/img_snow.jpg" width="150" height="100" />
    <p>Lorem ipsum</p>
</div>
<div>
    <img src="https://www.w3schools.com/howto/img_snow.jpg" width="150" height="100" />
    <p>Lorem ipsum</p>
</div>